.interval {
    font-size: small;
    transition: .35s;
}

.interval:hover {
    opacity: .5;
}

.status-na {
    color: rgb(108, 117, 125);
}

.status-free {
    background-color: #AEE9FF;
}

.status-booked {
    background-color: #AEFFAE;
}

.status-replace {
    background-color: yellow;
}

.status-skip {
    background-color: #eb533c;
}
