.interval {
    font-size: small;
    transition: .35s;
}

.interval:hover {
    opacity: .5;
}

.status-na {
    color: rgb(108, 117, 125);
}

.status-free {
    background-color: #c9f1ff;
}

.status-single {
    background-color: #75a7f7;
}

.status-multiple {
    background-color: #AEFFAE;
}

.status-replace {
    background-color: yellow;
}

.status-skip {
    background-color: #eb533c;
}
