#schedule-table {
    width: auto;
    table-layout: auto;
    margin-top: 1rem;
}

#schedule-table td {
    position: relative;
    padding: 0px;
    vertical-align: middle;
    height: 100%;
}

#schedule-table td > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    box-sizing: border-box;

    width: 100%;
    height: 100%;
}