th {
    background-color: #F3F7FF!important;
    text-align: center;
    font-size: 1.25rem;
    vertical-align: middle;
}

.modal-header {
    background-color: #AEE9FF;
}

.modal-body, .modal-footer {
    background-color: #DEE2E6;   
}

.modal-body {
    color: black;
}